{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <h1>Jeu</h1>
    
    <a class="btn btn-success" href={{ path("game_init") }}>Nouvelle partie</a>
    <a class="btn btn-warning" href={{ path("game_index") }}>Voir le jeu complet mélangé</a>
        
    <div class="d-flex flex-row justify-content-around my-3 py-1">
        <span>Bon ordre des couleurs :
            {% include 'game/_colorsList.html.twig' with  {'colors': goodOrderColors} %}
        </span>
        <span>Bon ordre des valeurs :
            {% include 'game/_valuesList.html.twig' with  {'values': goodOrderValues} %}
        </span>
    </div>
    <div class="bg-success d-flex flex-row flex-wrap my-3 py-1">
        {% for card in app.session.get('orderedResult')  %}
            <div class="cards-bg d-flex flex-row border border-2 rounded-2 m-2">
                <span class="cards d-inline f32 {{card.color}}{{card.value}}" title="{{card.color}}{{card.value}}"></span>
            </div> 
        {% else %}
            no records found
        {% endfor %}
    </div>

    <div class="d-flex flex-row justify-content-around my-3 py-1">
        <span>Mélange des couleurs :
            {% include 'game/_colorsList.html.twig' with {'colors': colors} %}
        </span>
        <span>Mélange des valeurs :
            {% include 'game/_valuesList.html.twig' with  {'values': values} %}
        </span>
    </div>
    <div class="bg-warning d-flex flex-row flex-wrap my-3 py-1">
        {% for card in app.session.get('result')  %}
            <div class="cards-bg d-flex flex-row border border-2 rounded-2 m-2">
                <span class="cards d-inline f32 {{card.color}}{{card.value}}" title="{{card.color}}{{card.value}}"></span>
            </div> 
        {% else %}
            no records found
        {% endfor %}
    </div>
    
{% endblock %}

